In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('df_MVP.csv')

In [6]:
df.head()

,Unnamed: 0,Artist,Track,Popularity,Track_Number,Album_Name,Total_Tracks,Release_Date,Year_Released
0,0,Yot Club,YKWIM?,87,3,Bipolar,6,2019-05-31,2019
1,1,Doja Cat,Streets,87,9,Hot Pink,12,2019-11-07,2019
2,2,Labrinth,Formula,89,2,Euphoria (Original Score from the HBO Series),26,2019-10-04,2019
3,3,Labrinth,All For Us - from the HBO Original Series Euph...,87,1,All For Us (from the HBO Original Series Eupho...,1,2019-08-04,2019
4,4,Harry Styles,Watermelon Sugar,90,2,Fine Line,12,2019-12-13,2019

In [5]:
df['Year_Released'] = pd.to_datetime(df.Release_Date).dt.year

In [8]:
df['Month_Released'] = pd.to_datetime(df.Release_Date).dt.month

In [10]:
cleaned_data = df[['Track_Number', 'Total_Tracks', 'Year_Released','Month_Released','Popularity']]

In [11]:
cleaned_data.to_csv('cleaned_data.csv')

In [12]:
cleaned_data.head()

   Track_Number  Total_Tracks  Year_Released  Month_Released  Popularity
0             3             6           2019               5          87
1             9            12           2019              11          87
2             2            26           2019              10          89
3             1             1           2019               8          87
4             2            12           2019              12          90